* {
    box-sizing: border-box;
    font-family: 'Annie Use Your Telescope', cursive;
}
body {
    margin: 0;
    background-color:  #e1e3e6;
}
a {
    text-decoration: none;
}

/* BANNER */
.banner {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-areas: "bear . title title . cart";
    background: linear-gradient(to bottom, #d9b38c, #f2e6d9);
    box-shadow: 0 5px 10px #4d3319 ;
}
.bear-logo {
    grid-area: bear;
    background-image: url(../assets/image/bear-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.main-title {
    grid-area: title;
    font-size: 9em;
    text-align: center;
    margin: 0;
}
.main-title a {
    color: black;
}
.cart{
    grid-area: cart;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-shopping-cart {
    color: black;
    font-size: 4em;
}

/* PRODUCT */
.ourProd  {
    padding: 0 0 0 120px;
}
.products {
    width: 85vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* ITEM */

.item {
    width: 32%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px #4d3319;
    display: flex;
    align-items: center;
    margin: 8px;
    background-color: white;
}
.imgProd {
    display: block;
    width: 50%;
    height: 80%;
}
.presProd {
    width: 50%;
}
.presProd h4, .presProd p {
    margin: 10px;
}
.presProd button {
    width: 80%;
    background: linear-gradient(to bottom, #d9b38c, #f2e6d9);
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 1.1em;
    cursor: pointer;
}
/* FOOTER */

footer {
    width: 100vw;
    height: 20vh;
    background: linear-gradient(to bottom, #d9b38c, #f2e6d9);
    box-shadow: 0 -5px 10px #4d3319 ;
    margin-top: 50px;
}
footer h2 {
    text-align: center;
    font-size: 2em;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
footer li{
    list-style: none;
    margin: 10px;
}
footer ul {
    display: flex;
    justify-content: center;
}